/*---------------------------------------------
SavePoint™

A very simple front-end boilerplate.

Author: Learn the Web
Version: 0.1
https://github.com/learningtheweb/SavePoint

Section: $Theme

[$CONTENTS]

1. $Universal
2. $Type
3. $Layout
4. $Overwrites
----------------------------------------------*/




/*---------------------------------------------
[$Universal]

Our site-wide settings. Useful for body, links,
forms, etc.

These are your defaults for these things.

Variables are set inside _variables.scss.

REMEMBER: CSS cascades, so these things could
be overwritten lower down inside your document.
----------------------------------------------*/



/*---------------------------------------------
// ENDS [Universal]
----------------------------------------------*/




/*---------------------------------------------
[$Type]

We're setting up our basic type next.

Note: the only reason body is in here is so
we can set some type styles on it.

We're using rems instead of ems. We tend to
find rems a bit more manageable.

See this:
https://j.eremy.net/confused-about-rem-and-em/
----------------------------------------------*/


/*---------------------------------------------
// ENDS [Type]
----------------------------------------------*/




/*---------------------------------------------
[$Layout]

This is where the magic happens. Any specific
styles for layout you'll probably want to add
here.

REMEMBER: you've got a grid so you won't need
to set many specific widths.
----------------------------------------------*/

/*---------------------------------------------
[$header]


----------------------------------------------*/

.header {
	height: 130px;
	background-color: #000;
    overflow: hidden;
}

    .header img {
    	float: left;

    }

    .header h1{
    	float: left;
    	width: 30%;
    	color: #fff;
    	padding-top: 40px;
    	padding-left: 20px;
    	box-sizing: border-box;

    }

    .logo {
        padding-left: 25px;
        padding-top: 20px;
    }

/*---------------------------------------------
// ENDS [header]
----------------------------------------------*/


/*---------------------------------------------
[$social-nav]


----------------------------------------------*/

.social-nav {

	background-color: #000;
	float: right;
    margin: 10px;

}

    .social-nav li {
        display: inline-block;
    }

    .social-nav a{
        color: #000;
        text-decoration: none;
        padding: 2px;
        display: block;

    }

/*---------------------------------------------
// ENDS [social-nav]
----------------------------------------------*/


/*---------------------------------------------
[$main-navbar]


----------------------------------------------*/

.main-navbar {
    height: 50px;
	background-color: #fff;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
	font-family: verdana;
	font-size: 18px;
}
    .main-navbar ul {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
    }

    .main-navbar a{
        color: #000;
        text-decoration: none;
        padding: 15PX;
        display: block;
    }

    .main-navbar a:hover {
        color: coral;
    }

/*---------------------------------------------
// ENDS [main-navbar]
----------------------------------------------*/

/*---------------------------------------------
[$planet-head]


----------------------------------------------*/

.planet-head {
	padding: 20px;
	right: 0;
	bottom: 5px;
	position: absolute;
	left: 0px;
	text-align: center;
}

.planet-head h1 {
	 color: #fff;
	 display: block;
	 font-size: 48px;
	 font-family: verdana;

 }

 .planet-head a {
	 padding: 10px;
	 text-decoration: none;
	 color: #fff;
	 font-family: optima;
	 font-size: 16px;
 }

 .planet-head a:hover {
	 color: coral;
 }
/*---------------------------------------------
// ENDS [planet-head]
----------------------------------------------*/

/*---------------------------------------------
[$mercury]


----------------------------------------------*/
.mercury {
    background-color: grey;
    background-image: url(../img/mercury-main.jpg);
    background-repeat: no-repeat;
    background-position: center;
	max-width: 1200px;
	height: 700px;
    position: relative;

}



/*---------------------------------------------
// ENDS [mercury]
----------------------------------------------*/

/*---------------------------------------------
[$venus]


----------------------------------------------*/

.venus {
	background-color: yellow;
    background-image: url(../img/venus-main.jpg);
    background-repeat: no-repeat;
    background-position: center;
    max-width: 1200px;
    height: 700px;
    position: relative;
}

/*---------------------------------------------
// ENDS [venus]
----------------------------------------------*/



/*---------------------------------------------
[$earth]


----------------------------------------------*/

.earth {
    background-color: orange;
    background-image: url(../img/earth-main.jpg);
    background-repeat: no-repeat;
    background-position: center;
    max-width: 1200px;
    height: 700px;
    position: relative;
}

/*---------------------------------------------
// ENDS [earth]
----------------------------------------------*/


/*---------------------------------------------
[$mars]


----------------------------------------------*/

.mars {
		background-color: yellow;
	    background-image: url(../img/mars-main.jpg);
	    background-repeat: no-repeat;
	    background-position: center;
	    max-width: 1200px;
	    height: 700px;
	    position: relative;
}

/*---------------------------------------------
// ENDS [mars]
----------------------------------------------*/

/*---------------------------------------------
[$jupiter]


----------------------------------------------*/

.jupiter {
	background-color: yellow;
	background-image: url(../img/jupiter-main.jpg);
	background-repeat: no-repeat;
	background-position: center;
	max-width: 1200px;
	height: 700px;
	position: relative;
}

/*---------------------------------------------
// ENDS [jupiter]
----------------------------------------------*/

/*---------------------------------------------
[$saturn]


----------------------------------------------*/

.saturn {
	background-color: yellow;
	background-image: url(../img/saturn-main.jpg);
	background-repeat: no-repeat;
	background-position: center;
	max-width: 1200px;
	height: 700px;
	position: relative;
}

/*---------------------------------------------
// ENDS [saturn]
----------------------------------------------*/

/*---------------------------------------------
[$uranus]


----------------------------------------------*/

.uranus {
	background-color: yellow;
	background-image: url(../img/uranus-main.jpg);
	background-repeat: no-repeat;
	background-position: center;
	max-width: 1200px;
	height: 700px;
	position: relative;
}

/*---------------------------------------------
// ENDS [uranus]
----------------------------------------------*/

/*---------------------------------------------
[$neptune]


----------------------------------------------*/

.neptune {
	background-color: yellow;
	background-image: url(../img/neptune-main.jpg);
	background-repeat: no-repeat;
	background-position: center;
	max-width: 1200px;
	height: 700px;
	position: relative;
}

/*---------------------------------------------
// ENDS [neptune]
----------------------------------------------*/

/*---------------------------------------------
[$footer]


----------------------------------------------*/

.footer {
    height: 50px;
	background-color: #fff;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	font-family: verdana;
	font-size: 14px;
}

/*---------------------------------------------
// ENDS [footer]
----------------------------------------------*/



/*---------------------------------------------
[$foot-nav]


----------------------------------------------*/

.foot-nav ul{
    display: flex;
	flex-wrap: wrap;
	list-style: none;
}

.foot-nav a{
	color: #000;
	text-decoration: none;  /* removes the lines from the links */
	padding: 15px; /* leaves 15px space inbetween the lists */
	display: block; /* fills the all area from the link to hover and select better and centers */
}

.foot-nav a:hover {
	background-color : coral;
}

/*---------------------------------------------
// ENDS [foot-nav]
----------------------------------------------*/



/*---------------------------------------------
[$copyright]


----------------------------------------------*/

.copyright {
    color: #000;
	text-align: right;
	padding: 15px;
	font-size: 16px;
}

/*---------------------------------------------
// ENDS [copyright]
----------------------------------------------*/


/*---------------------------------------------
[$side-bar] Gallery


----------------------------------------------*/

.side-bar li {
    list-style: none;
}


/*---------------------------------------------
// ENDS [side-bar]
----------------------------------------------*/


/*---------------------------------------------
[$img]


----------------------------------------------*/

img {
    max-width: 100%;
    height: auto;
    display: block;

}

/*---------------------------------------------
// ENDS [img]
----------------------------------------------*/

/*---------------------------------------------
[$content]


----------------------------------------------*/

.content h1 {
    font-family: arial;
    font-size: 30px;
    color: coral;
    padding-top: 5px;
    padding-left: 10px;
}

.content p{
    font-family: verdana;
    font-size: 16;
    color: coral;
    padding-top: 10px;
    padding-left: 10px;
}

.content a {
    text-decoration: none;
    color: coral;
}

/*---------------------------------------------
// ENDS [content]
----------------------------------------------*/


/*---------------------------------------------
[$button]


----------------------------------------------*/

.button {
    text-align: right;
    background-color: #908e8e;
    color: coral;
    padding: 10px 15px;
    border: none;
    margin-left: 630px;
}

.button:hover {
    color: #fff;
    background-color: coral;
}
/*---------------------------------------------
// ENDS [button]
----------------------------------------------*/
/*---------------------------------------------
// ENDS [Layout]
----------------------------------------------*/




/*---------------------------------------------
[$Overwrites]

A core concept of CSS is that it cascades
downwards (top to bottom), so anything we
set lower down the file overwrites the things
above.

Having an overwrites section at the bottom
of your document can be useful for when
you need to...well, overwrite something.

KEEP THIS AT THE BOTTOM OF YOUR DOCUMENT.
----------------------------------------------*/




/*---------------------------------------------
// ENDS [Overwrites]
----------------------------------------------*/
