/*---------------------------------------------
SavePoint™

A very simple front-end boilerplate.

Author: Learn the Web
Version: 0.1
https://github.com/learningtheweb/SavePoint

Section: $Variables
----------------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Nunito');

// fonts
$nunito: 'Nunito', sans-serif;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-heavy: 700;
$font-height: 1.5;

// colors
$dark-grey: #333447;
$dark-gray: #333447; // for the Americans
$orange-dark: #934c06;
$grey: #908e8e;
